<% content_for :full_page do %>

<div class="form-signup">
    <div class="col-xs-12">
    <div style="margin-bottom: 200px;">
        <div class="close-form">
            <%= link_to root_path do %>
            <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
        </div>


        <div class="edit-video">
          <h3>Hey, edit your profile :)</h3>
        </div>
    </div>
    </div>

  <div class="simple-form-for">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="edit-photo">
        <div class="cloudinary-button-div">
        <button type="button" class="btn btn-default btn-circle btn-xl cloudinary-button"><i class="fa fa-camera" aria-hidden="true"></i></button>
         </div>
        <div class="input-group login-form input-attachinary hidden-attachinary-button">
          <%= f.input :photo, as: :attachinary, input_html: { class: "already_account" } %>
        </div>

        <div class="clearfix"></div>
      </div>

      <div class="form-inputs">
      <div class="input-group login-form">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
        <%= f.input :first_name, required: true, autofocus: true, placeholder: @current_user.first_name, label: false,  input_html: { class: 'form-control btn-lg btn-login' } %>
      </div>
      <div class="input-group login-form">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
        <%= f.input :last_name, required: true, autofocus: true, placeholder: @current_user.last_name, label: false,  input_html: { class: 'form-control btn-lg btn-login' } %>
        </div>
        <div class="input-group login-form">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        <%= f.input :email, required: true, autofocus: true, placeholder:@current_user.email, label: false, input_html: { class: 'form-control btn-login' } %>
        </div>
        <div class="input-group login-form">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-home" aria-hidden="true"></i></span>
      <%= f.input :organization, autofocus: true, placeholder: "Your organization...", label: false,  input_html: { class: 'form-control btn-lg btn-login' }  %>
        </div>
        <div class="input-group login-form input-bio">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
        <%= f.input :bio, autofocus: true, placeholder: "Please write something about you", label: false,  input_html: { class: 'form-control btn-lg btn-login' } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "form-control btn-free-account btn-lg" %>
      </div>
    <% end %>


  <div class="already_account_div">
   <div class="strike">
      <span>Unhappy?</span>
    </div>
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "already_account" %>
  </div>





</div>



</div>
<% end %>

