<div style="float: left;">
  <br>
  <% if @user.photo  %>
  <%= cl_image_tag @user.photo.path, width: 50, height: 70, crop: :fill %>
  <% end %>
  <br>
  <%= @user.address %>
  <br>
  <%= @user.email %>
  <br>
  <%= @user.phone %>
  <br>
</div>

<div style="float:right;">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <br>


<h4>Number of missions attended : <%= @user.registrations_complete %></h4>


<% if @user.badge == :newbie %>
Volunteer newbie
<% elsif @user.badge == :regular %>
Fantastic volunteer
<% elsif @user.badge == :advanced %>
Volunteer ninja
<% else %>
Volunteer boss
<% end %>

<div>
<%  if @past_events_managed.count != 0 && current_user.organization.present? %>

  <!-- TODO : Only if i organized events in the past  -->
  Works at <%= @user.organization %>

<% end %>

</div>

  <!-- Change to Devise at some point -->
  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_registration_path  %>
  <% end %>
</div>

<div style="clear:both;"></div>

<div class="text-center" style="padding-bottom: 100px;">
Bio / I care about
<%= @user.bio %>
</div>

<!-- TODO : Only if i organized events in the past  -->
<div class="text-center" style="padding-bottom: 100px;">
About my organization
<%= @user.bio %> <!-- should be @user.org_bio -->
</div>

<!--
TODO : Optional, display reviews from the NGOs
 -->
<!-- PAST EVENTS -->

<div class="past_events">
<div style="margin-bottom: 200px;">
<% if @past_events_managed.count > 0 %>
  <h2> Events I have Managed in the Past</h2>
  <% @past_events_managed.each_with_index do |event, index| %>
    <%= render partial: "events/past_event_managed_card", locals: {event: event} %>
  <!-- plug in events card with proper styling here -->
  <% end %>
  <% end %>
</div>
<div style="margin-bottom: 200px;">
<% if @past_events_attended.count > 0 %>
  <h2> Events I have Attended in the Past</h2>
  <% @past_events_attended.each_with_index do |event, index| %>
    <%= render partial: "events/past_event_attending_card", locals: {event: event} %>
  <!-- plug in events card with proper styling here -->
  <% end %>
  <% end %>
</div>
</div>

<div>
  More info? + / Footer
</div>
