<div style="float: left;">
  <br>
  <% if @user.photo  %>
  <%= cl_image_tag @user.photo.path, width: 50, height: 70, crop: :fill %>
  <% end %>
  <br>
  <%= @user.address %>
  <br>
  <%= @user.email %>
  <br>
  <%= @user.phone %>
  <br>
</div>

<div style="float:right;">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <br>

<!--   TODO : display Volunteer status depending on number of events attended ie verified by organizer -->



  <!-- TODO : Only if i organized events in the past  -->
  Works at <%= @user.organization %>
  <br>
  <%= link_to "Edit Profile", edit_user_registration_path  %>
</div>

<div style="clear:both;"></div>

<div class="text-center" style="padding-bottom: 100px;">
Bio / I care about
<%= @user.bio %>
</div>

<!-- TODO : Only if i organized events in the past  -->
<div class="text-center" style="padding-bottom: 100px;">
About my organization
<%= @user.bio %> <!-- should be @user.org_bio -->
</div>

<!--
TODO : Optional, display reviews from the NGOs
 -->
<!-- PAST EVENTS -->

<div class="past_events">
<div style="margin-bottom: 200px;">
  <h2> Events I have Managed in the Past, if any</h2>
  <% @past_events_managed.each_with_index do |event, index| %>
    <%= render partial: "events/past_event_managed_card", locals: {event: event} %>
  <!-- plug in events card with proper styling here -->
  <% end %>
</div>
<div style="margin-bottom: 200px;">
  <h2> Events I have Attended in the Past, if any</h2>
  <% @past_events_attended.each_with_index do |event, index| %>
    <%= render partial: "events/past_event_attending_card", locals: {event: event} %>
  <!-- plug in events card with proper styling here -->
  <% end %>
</div>
</div>"past_events"

<div>
  More info? + / Footer
</div>
