<div class="container">


  <% if current_user == @user %>
  <%= link_to edit_user_registration_path do %>
  <div class="col-xs-2 col-xs-offset-10 margin-top-user-page">
  <div class="user-edit-button">
    <i class="fa fa-pencil pencil" aria-hidden="true"></i>
  </div>
  </div>
  <% end %>
  <% end %>

</div>





<div class="edit-photo">
        <div class="cloudinary-button-div">
        <button type="button" class="btn btn-default btn-circle btn-xl trophy-button cloudinary-button"><i class="fa fa-trophy purple-trophy" aria-hidden="true"></i></button>
         </div>
        <div class="">

        <%= cl_image_tag avatar_for_user(current_user), height: '100', width: '100', class: "img-trophy avatar-very-large" %>

        </div>
        <div class="badge-status">

    <% if @user.badge == :newbie %>
     Newbie
    <% elsif @user.badge == :regular %>
    Ninja
    <% elsif @user.badge == :advanced %>
    Confirmed
    <% else %>
    Expert
    <% end %>

        </div>


</div>



<!-- <div>
  <img src="<%= avatar_for_user(current_user) %>" alt="" class="avatar-very-large">
</div> -->

<div class="user-basic-info">



  <div class="text-center">
    <h4 class="user-name"><%= @user.first_name %> <%= @user.last_name %></h4>
    <i class="fa fa-star orange-star" aria-hidden="true" ></i> <%= @past_events_managed.count %> Events Organized
    <br>
    <i class="fa fa-trophy purple-trophy" aria-hidden="true"></i> <%= @past_events_attended.count %> Events Attended



    <br>
    <br>

    <i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @user.email %>
    <br>
    <br>
    <% if @user.address %>
    <i class="fa fa-location-arrow" aria-hidden="true"></i> <%= @user.address %>
    <br>
    <br>
    <% end %>
    <% if @user.phone %>
    <i class="fa fa-phone" aria-hidden="true"></i> <%= @user.phone %>
    <br>
    <% end %>
  </div>
</div>



<div class="user-bio">
  <h2>About</h2>

  <% if @user.bio %>
  <%= @user.bio %>
  <% else %>
  <p> This person has not written a bio yet. </p>
  <% end %>

</div>



<div class="user-organization">
  <% if @user == current_user %>
    <h2>My Organization</h2>
    <% else %>
    <h2>Organization</h2>
  <% end %>

  <% if @user.organization %>
  <%= @user.organization %>
  <% else %>
  <p> This person has not written about his/hers organization, or is not affiliated. </p>
  <% end %>

</div>



<!-- <h4> Events Managed </h4> -->

<div class="user-past-events">
  <% if @user == current_user %>
    <h2>My Past Events</h2>
    <% else %>
    <h2><%= @user.first_name %>'s Past Events</h2>
  <% end %>
</div>

<div class="events-managed">
  <% if @past_events_managed.count > 0 %>
  <% @past_events_managed.each_with_index do |event, index| %>
  <%= render partial: "events/past_event_card", locals: {event: event, user: @user} %>
  <% end %>
  <% end %>

  <% if @past_events_attended.count > 0 %>
  <% @past_events_attended.each_with_index do |event, index| %>
  <%= render partial: "events/past_event_card", locals: {event: event, user: @user} %>
  <% end %>
  <% end %>
</div>

</div>
