
<div class="edit-profile-button">
  <% if current_user == @user %>
  <%= link_to edit_user_registration_path do %>
  <div class="user-edit-button">
    <i class="fa fa-pencil pencil" aria-hidden="true"></i>
  </div>
  <% end %>
  <% end %>
</div>


<div class="user-basic-info">

  <img src="<%= avatar_for_user(@user) %>" alt="" class="avatar-very-large user-image">

  <div class="text-center">
    <h2 class="user-name"><%= @user.first_name %> <%= @user.last_name %></h2>
    <i class="fa fa-star" aria-hidden="true" ></i> <%= @past_events_managed.count %> Events Organized
    <br>
    <i class="fa fa-trophy" aria-hidden="true"></i> <%= @past_events_attended.count %> Events Attended
    <br>
    <br>
    <% if @user.badge == :newbie %>
    <i class="fa fa-id-badge" aria-hidden="true"></i> Volunteer newbie
    <% elsif @user.badge == :regular %>
    <i class="fa fa-id-badge" aria-hidden="true"></i> Fantastic volunteer
    <% elsif @user.badge == :advanced %>
    <i class="fa fa-id-badge" aria-hidden="true"></i> Volunteer ninja
    <% else %>
    <i class="fa fa-id-badge" aria-hidden="true"></i> Volunteer boss
    <% end %>
    <br>
    <br>
    <i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @user.email %>
    <br>
    <br>
    <% if @user.address %>
    <i class="fa fa-location-arrow" aria-hidden="true"></i> <%= @user.address %>
    <br>
    <br>
    <% end %>
    <% if @user.phone %>
    <i class="fa fa-phone" aria-hidden="true"></i> <%= @user.phone %>
    <br>
    <% end %>
  </div>
</div>



<div class="user-bio">
  <h2>About</h2>
  <% if @user.bio %>
  <%= @user.bio %>
  <% else %>
  <p> This person has not written a bio yet.</p>
  <% end %>
</div>



<div class="user-organization">
  <% if @user == current_user %>
    <h2>My Organization</h2>
    <% else %>
    <h2>Organization</h2>
  <% end %>

  <% if @user.organization %>
  <%= @user.organization %>
  <% else %>
  <p> This person has not written about his/hers organization, or is not affiliated. </p>
  <% end %>

</div>



<!-- <h4> Events Managed </h4> -->

<div class="user-past-events">
  <% if @user == current_user %>
    <h2>My Past Events</h2>
    <% else %>
    <h2><%= @user.first_name %>'s Past Events</h2>
  <% end %>
</div>

<div class="events-managed">
  <% if @past_events_managed.count > 0 %>
  <% @past_events_managed.each_with_index do |event, index| %>
  <%= render partial: "events/past_event_card", locals: {event: event, user: @user} %>
  <% end %>
  <% end %>

  <% if @past_events_attended.count > 0 %>
  <% @past_events_attended.each_with_index do |event, index| %>
  <%= render partial: "events/past_event_card", locals: {event: event, user: @user} %>
  <% end %>
  <% end %>
</div>
