<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert" style="z-index: 10000;position: absolute; width: 100%; <%= "background-color: #6989F9;" if controller.action_name == "cool_form" || controller.action_name == "cool_form_edit" %>">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% if notice.is_a?(Hash) %>
      <% notice.each do |key, messages| %>
        <% messages.each do |message| %>
            <div> <%= key %>: <%= message %> </div>
        <% end %>
      <% end %>
    <% else %>
      <%= notice %>
    <% end %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert" style="z-index: 10000;position: absolute; width: 100%;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
