
<!-- Right Navigation -->
<!-- LARGER SCREENS -->
<div class="navbar-wagon-bottom">

  <!-- Search -->

<% if current_page?(controller: 'events', action: 'search') %>
    <%= link_to events_path, class: "nav-button nav-button-text navbar-wagon-item-bottom navbar-wagon-link active-icon" do %>
        <span class="nav-icon fa fa-search"></span><br>
        <span class="nav-button-text">Search</span>
        <% end %>
      <% else %>
      <%= link_to events_path, class: "nav-button nav-button-text navbar-wagon-item navbar-wagon-link" do %>
        <span class="nav-icon fa fa-search"></span><br>
        <span class="nav-button-text">Search</span>
      <% end %>
    <% end %>


  <!-- Add Event -->
    <%= link_to cool_form_path(1), class: "nav-button nav-button-text navbar-wagon-item-bottom navbar-wagon-link" do %>
    <span class="nav-icon fa fa-plus-circle"></span><br>
      <span class="nav-button-text">Add Event</span>
    <% end %>

  <!-- My Events -->
      <% if current_page?(controller: 'events', action: 'my_events') %>
          <%= link_to user_events_path, class: "nav-button nav-button-text navbar-wagon-item-bottom navbar-wagon-link active-icon" do %>
          <span class="nav-icon fa fa-calendar-check-o"></span><br>
          <span class="nav-button-text">My Events</span>
      <% end %>
      <% else %>
        <%= link_to user_events_path, class: "nav-button nav-button-text navbar-wagon-item-bottom navbar-wagon-link" do %>
        <span class="nav-icon fa fa-calendar-check-o"></span><br>
        <span class="nav-button-text">My Events</span>
      <% end %>
    <% end %>

</div>
