<!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag "Logo_little.png", {id: "logo"} %>
    </a>

    <!-- Search form, hidden on phone screens -->
<!--     <div class="hidden-xs">
      <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div> -->

    <!-- DROPDOWN MENU -->

    <% if user_signed_in? %>

      <!-- USER -->

      <div class="navbar-wagon-item no-padding">

        <div class="dropdown-toggle" data-toggle="dropdown">
          <!-- <i class="fa fa-user-circle-o fa-2x dropdown-button"></i> -->

          <img src="<%= avatar_for_user(current_user) %>" alt="" class="avatar">

          <i id="caret" class="fa fa-caret-down dropdown-button"></i>
        </div>

        <ul id="dropdown" class="dropdown dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "My Profile", user_path(current_user), class: "" %>
          </li>
          <li>
            <%= link_to "Help", class: "" %>
          </li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, class: "", method: :delete %>
          </li>
        </ul>
      </div>

    <% else %>

      <!-- NON USER -->
      <div class="navbar-wagon-item no-padding">
        <div class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bars fa-2x dropdown-button"></i>
        </div>
        <ul id="dropdown" class="dropdown dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "Log In", new_user_session_path, class: "" %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "" %>
          </li>
        </ul>
      </div>

    <% end %>
