<!-- <div id="navbar">
  Register
  Login
  Register My Boat
</div> -->


<div class="navbar-wagon navbar-fixed-top" data-spy="affix" data-offset-top="150">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", {id: "logo"}%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
<!--
  <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Text link -->


    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
        <% avatar_url = current_user.photo.path || "http://placehold.it/30x30" %>

        <%= cl_image_tag avatar_url, width: 55, height: 55, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", data: { "toggle" => "dropdown"} %>

        <div class="dropdown">

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Profile",  user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Log Out",  destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete %></li>
        </ul>
      </div>
    </div>

    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>

    <% else %>
    <%= link_to "Log In", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

    <%= link_to "Log Out",  destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete %>

<% if current_user %>
<%= link_to "New event", new_event_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My events", user_events_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My profile", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %> -->

<% end %>
</div>




<% if user_signed_in? %>
<%= link_to "New event", new_event_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My events", user_events_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My profile", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %> -->
<% end %>



  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

 -->
