<% if event.photos? %>
  <% main_photo = event.photos.first.path %>
<% else %>
  <% main_photo = image_path('teamwork.jpg') %>
<% end %>

<%= link_to(event, class: "link-no-style") do %>
<div class="event-card-container">
  <div class="event-card-image" style='background-image: linear-gradient(rgba(60,95,120,0.3), rgba(60,95,120,0.2)), url("<%= cl_image_path main_photo, height: 300, width: 600, crop: :fill, radius: 4; %>")'>

  </div>

  <div class="event-badge-attended">
      ATTENDING
  </div>

  <div class="event-card-tab">
      <h3><%= pluralize((event.end_time - DateTime.now).to_i/60/60/24, 'day', 'days') %></h3>
      <p>left</p>
  </div>

  <div class="event-card-data">

    <div class="event-card-caption">
      <h3><%= event.name %></h3>
    </div>

    <div class="event-card-address-row">
      <div class="event-card-address-icon">
        <i class="fa fa-home"></i>
      </div>
      <div class="event-card-address">
        <%= event.address %>
      </div>
    </div>

    <div class="event-card-time-row">
     <div class="event-card-time-icon">
        <i class="fa fa-clock-o"></i>
      </div>
      <div class="event-card-time">
        <%= event.start_time.strftime('%d/%m/%Y %H:%M') %>
      </div>
    </div>
  </div>

  <div class="event-card-separator"></div>

<!-- CARD FOOTER -->
<div class="event-card-footer">
    <%= link_to event_users_path(event) do %>
        <% @counter = 0 %>
        <% event.participants.first(3).each do |par| %>
        <% if par.photo %>
          <% @counter = @counter + 1 %>
          <%= cl_image_tag par.photo.path, class: "avatar-mini" %>
        <% end %>
      <% end %>
    <% end %>

    <div class="event-card-remainder">
      + <%= event.participants.count - @counter %> ARE GOING
    </div>

    <div class="share-event-button-default js-share" data-href="http://volunteasy.co<%= event_path(event) %>" data-content="Checkout this amazing event">
      <i class='fa fa-share-square-o'></i>
    </div>


</div>

</div><!-- CLOSE EVENT CARD -->
<% end %>
