
<% if event.photos? %>
  <% photo_url = cl_image_path event.photos.first.path, width: 300, height: 300, crop: :fill %>
<% else %>
  <% photo_url = image_path('teamwork.jpg') %>
<% end %>

<div class="container_card">
  <!-- Normal Demo-->
  <div class="column">
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="date">
          <div class="day"><%= event.start_time.strftime('%d') %></div>
          <div class="month"><%= event.start_time.strftime('%b') %></div>
        </div>
        <%= link_to event_path(event) do %>
        <%= image_tag photo_url%>
        <% end %>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <h1 class="title"><%= event.name %></h1>
        <h2 class="sub_title"><%= event.start_time.strftime('%d/%m/%Y') %></h2>
        <p class="sub_title"><%= event.address %></p>
        <p class="sub_title"> Just <%= (event.end_time - DateTime.now).to_i/60/60/24 %> days left.</p>
         <p class="description"><%= event.description %></p>
        <div class="participants">
        <%= link_to event_users_path(event) do %>
          <% if @user.photo  %>
          <%= cl_image_tag @user.photo.path, width: 50, height: 70, crop: :fill %>
          <% end %> and
          <% event.participants.first(4).each do |par| %>
          <% if par.photo  %>
          <%= cl_image_tag par.photo.path, width: 50, height: 70, crop: :fill %>
          <% end %>
          <!--   TO DO : FIX NUMBERS OF PARTICIPANTS -->
          <% end %> and <%= event.participants.count - 5 %> others are coming.
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= link_to "See more near me", search_path %>
    </div>
  </div>
</div>
