<% if event.photos? %>
<% photo_url = cl_image_path event.photos.first.path, width: 300, height: 300, crop: :fill %>
<% else %>
<% photo_url = image_path('teamwork.jpg') %>
<% end %>

<div class="event-card-container">
  inside event card container
  <div class="event-card-image">
    inside event card image
    <%= link_to event_path(event) do %>
      <%= image_tag photo_url %>
    <% end %>
  </div>
  <div class="event-card-data">
    <div class="time">Monday, 9 AM</div>
  </div>
</div>


      <div class="thumbnail">
        <div class="date">

          <div class="month"><%= event.start_time.strftime('%b') %></div>
        </div>

      </div>
      <!-- Post Content-->
      <div class="post-content">
        <h1 class="title"><%= event.name %></h1>
        <h2 class="sub_title"><%= event.start_time.strftime('%d/%m/%Y') %></h2>
        <p class="sub_title"><%= event.address %></p>
        <p class="sub_title"> Just <%= (event.end_time - DateTime.now).to_i/60/60/24 %> days left.</p>
         <p class="description"><%= event.description %></p>
        <div class="participants">
        <%= link_to event_users_path(event) do %>
          <% if @user.photo  %>
          <%= cl_image_tag @user.photo.path, width: 50, height: 70, crop: :fill %>
          <% end %> and
          <% event.participants.first(4).each do |par| %>
          <% if par.photo  %>
          <%= cl_image_tag par.photo.path, width: 50, height: 70, crop: :fill %>
          <% end %>
          <!--   TO DO : FIX NUMBERS OF PARTICIPANTS -->
          <% end %> and <%= event.participants.count - 5 %> others are going.
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= link_to "Post photos", edit_event_path(event) %>
    </div>
  </div>
</div>
