<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "Event name", value: params[:name] %>
    <%= f.input :organization, placeholder: "My organization" %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :description, placeholder: "What kind of help do you need?" %>
    <%= f.input :address, placeholder: "Street, City, ZIP" %>
    <%= f.input :capacity %>
    <%= f.input :tags, label: "This event is related to...", value: params[:tags], include_blank: false, as: :check_boxes, collection: Event::TAGS, class: 'check_boxes_submit' %>
    <%= f.input :photos, as: :attachinary %>
    <%= f.input :source_event_id, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
