<p id="notice"><%= notice %></p>

<!-- <h1>Events</h1> -->

<!-- Search by category / Search by location  -->

<!-- AJAXISER SI FORM MARCHE BIEN
 -->
<%= simple_form_for @event, :url => search_path, :method => :get, class: 'form-inline'  do |f| %>
  <div class="row">
    <div class="event-search-box">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :tags, label_html: { class: 'sr-only' }, 'Category') %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :address, label_html: { class: 'sr-only' }, placeholder: (session[:search_results] || 'Location') %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.submit  "Search!" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
  <% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.address %> </td>
    <td> <%= event.start_time %> </td>
  </tr>
  <% end  %>

  </div>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Address</th>
      <th>Capacity</th>
      <th>Tags</th>
      <th>Source event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.organizer_id %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.address %></td>
        <td><%= event.capacity %></td>
        <td><%= event.tags %></td>
        <td><%= event.source_event_id %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Event', new_event_path %>
