<p id="notice"><%= notice %></p>

<!-- <h1>Events</h1> -->

<!-- Search by category / Search by location  -->

<!-- AJAXISER SI FORM MARCHE BIEN
 -->


<!-- Search by category :  -->

<%= simple_form_for @event, remote: true, authenticity_token: :true do |f| %>


<% end %>




<%= simple_form_for @event, :url => search_path, :method => :get, class: 'form-inline' do |f| %>
  <div class="">
    <div class="event-search-box">

      <%= f.input :tags, label: "I care about...", checked: params[:event][:tags], include_blank: false, as: :check_boxes, collection: Event::TAGS, class: 'check_boxes_submit' %>

      <div class="col-xs-12 col-sm-4">
        <%= f.input :address, input_html: { value: params[:event][:address] }, label_html: { class: 'sr-only' }, placeholder: session[:search_results] || 'Location' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.submit  "Search!" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">

  <% if @events.empty? %>
    NO RESULT !
  <% else %>


  <table>

  <% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.address %> </td>
    <td> <%= event.start_time %> </td>
  </tr>
  <% end  %>

  </table>

  <% end %>

  </div>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Address</th>
      <th>Capacity</th>
      <th>Tags</th>
      <th>Source event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.organizer_id %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.address %></td>
        <td><%= event.capacity %></td>
        <td><%= event.tags %></td>
        <td><%= event.source_event_id %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>


