<p id="notice"><%= notice %></p>
<!-- <div class="center-middle-of-page"> -->
  <%= simple_form_for @event, :url => search_path, :method => :get, class: 'form-inline' do |f| %>
  <div class="event-search-box">
    <div class="col-xs-12 col-sm-4">
      <%= f.input :address, input_html: { value: @address }, label_html: { class: 'sr-only' }, placeholder: session[:search_results] || 'Location' %>
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-12 categories-filter">
        <div class="col-xs-8">
          <div class="button-categories btn-search btn btn-default"><i class="fa fa-filter" aria-hidden="true"></i> Categories</div>
          <div class="categories">
            <%= f.input :tags, :label => false, checked: (params[:event][:tags] if params[:event]), include_blank: false, as: :check_boxes, collection: Event::TAGS, class: 'check_boxes_submit' %>
          </div>
        </div>
        <div class="col-xs-4">
          <%= f.submit  "Go!", :class => 'btn btn-search go btn-default'%>
        </div>
      </div>
    </div>
  </div>
  <% end %>


    <div class="results">


        <% if @events.empty? %>
          <h2>Sorry :( No results</h2>
          <h3>Select some more categories and try again!</h3>
        <% else %>

<!-- TODAY //////////////////////////////////////////////////////// -->
        <% if @events.today.any? %>

            <div class="events-block">
              <h2>Today</h2>
            </div>

            <% @events.today.each do |event| %>
            <%= render event %>
            <% end %>


        <% end %>

<!-- TOMORROW //////////////////////////////////////////////////////// -->

        <% if @events.tomorrow.any? %>
          <div class="events-block">
            <h2>Tomorrow</h2>
          </div>
            <% @events.tomorrow.each do |event| %>
            <%= render event %>
            <% end %>

        <% end %>

<!-- THIS WEEK //////////////////////////////////////////////////////// -->

        <% if @events.this_week.any? %>

          <div class="events-block">
            <h2>This week</h2>
          </div>

            <% @events.this_week.each do |event| %>
            <%= render event %>
            <% end %>


        <% end %>

<!-- NEXT WEEK //////////////////////////////////////////////////////// -->


        <% if @events.next_week.any? %>

          <div class="events-block">
            <h2>Next week</h2>
          </div>

        <% @events.next_week.each do |event| %>
        <%= render event %>
        <% end %>

        <% end %>


<!-- LATER //////////////////////////////////////////////////////// -->


        <% if @events.later.any? %>


        <div class="events-block">
          <h2>Later</h2>
        </div>

        <% @events.later.each do |event| %>
        <%= render event %>
        <% end %>
        <% end %>


        <% end %>

    </div>
<!-- </div> -->



