<!-- <p id="notice"><%= notice %></p> -->
<div>
<%= event_url %>
  <div class="fb-share-button" data-href="<%= event_url %>" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="">Share</a></div>
  <!-- 1. Name event -->
  <h2><%= @event.name %></h2>
  <!-- 2. Who's coming -->
  <!-- If organizer -->
  <% if @event.organizer == current_user %>
  <!-- 1. IF PAST EVENT  -->
  <% if @event.end_time < DateTime.now %>
  <h3>Who went?</h3>
  <div class="participants">
    <% @event.participants.each do |par| %>
    <%= par.first_name %>
    <br>
    <!-- TODO : Replace fake avatar by real avatar -->
    <%= link_to image_tag('arnold', class: "avatar"), user_path(par) %>
    <% end %>
    <%= link_to event_users_path(@event) do %>
    <h3>Review participants' attendance</h3>
    <!-- TODO : Implement a way to send group email -->
    <% end %>
    <!-- 1. IF FUTURE EVENT  -->
    <% else %>
    <h3>Who's coming? who knows</h3>
    <% @event.participants.each do |par| %>
    <%= par.first_name %>
    <br>
    <%= link_to image_tag('arnold.jpg', class: "avatar"), user_path(par) %>
    <% end %>
    <h3>Send them a email</h3>
    <!-- TODO : Implement a way to send group email -->
    <% end %>
    <% else %> <!-- If participant :  -->
    <!-- 1. IF PAST EVENT  -->
    <% if @event.end_time < DateTime.now %>
    <h3>Who went?</h3>
    <div class="participants">
      <% @event.participants.each do |par| %>
      <%= par.first_name %>
      <br>
      <!-- TODO : Replace fake avatar by real avatar -->
      <%= link_to image_tag('arnold', class: "avatar"), user_path(par) %>
      <% end %>
      <!-- 1. IF FUTURE EVENT  -->
      <% else %>
      <h3>Who's coming?</h3>
      <% @event.participants.last(2).each do |par| %>
      <%= par.first_name %>
      <br>
      <%= link_to image_tag('arnold.jpg', class: "avatar"), user_path(par) %>
      <% end %>
      and <%= @event.capacity - 2 < 0 ? 0 : @event.capacity - 2 %> more are going! Join them!
      <!--   <h3>Spots left:</h3> -->
      <% if @spots_left == 0 %>
      <h4>"This event is full!"</h4>
      <% elsif @spots_left > 5 %>
      <!--   <h4><%= @spots_left %></h4> -->
      <h4>Only <%= @spots_left %> spots left! Join before it's too late!</h4>
      <h5>Invite a friend!</h5>
      <!-- TODO : implement FB connect / route to sign in form if not sign in  -->
      <% end %>
      <% end %>
<% end %>
      <!-- 3. date/place/organizedby -->
      <p>
        <strong>Location:</strong> <%= @event.address %>
      </p>
      <p>
        <strong>Organized By:</strong>
        <%= @organizer_name %> <%= link_to "View Profile", @event.organizer %>
      </p>
      <p>
        <strong>Begins:</strong> <%= @event.start_time.strftime('%d/%m/%Y') %> <%= @event.start_time.strftime("at %I:%M%p") %>
      </p>
      <p>
        <strong>Ends:</strong> <%= @event.end_time.strftime('%d/%m/%Y') %> <%= @event.end_time.strftime("at %I:%M%p") %>
      </p>
      <!-- 4. description  -->
      <!-- The map will be drawn in this div -->
      <h3><%= @event.organization %></h3>
    </div>
    <p>
      <strong>Tags:</strong>
      <%= @event.tags.join(', ') %>
    </p>
    <p>
      <strong>Description:</strong> <%= @event.description %>
    </p>
    <br>
    <!-- MAP PORTION OF PAGE -->
    <div class="col-sm-4">
      <div class="map-float"><!--start map -->
        <div id="map">
        </div>
      </div><!--end map -->
    </div>
    <div class='footer' id="notice">
      <% if @event.participants.include? current_user %>
      <% @registration = current_user.registrations.find_by(event_id: @event.id) %>
      Yay! You're going!
      <%= link_to "Can't go anymore?", event_registration_path(@event, @registration), method: :delete, data: { confirm: 'Are you sure ?' + @organizer_name + ' will miss you :(' } %>
      <% elsif @event.organizer == current_user %>
      <%= link_to 'Cancel event?', event_path(@event), method: :delete %>
      <%= link_to 'Edit', edit_event_path(@event) %>
      <% else  %>
      <%= link_to 'Are you going?', event_registrations_path(@event), method: :post %>
      <% end %>
    </div>
    <!-- NEED TO TEST AFTER AUTHORIZATION IMPLEMENTED -->
    <% if @event.organizer == current_user %>
    <%= link_to "Copy This Event!", new_event_url({name: @event.name,
     organization: @event.organization,
     start_time: @event.start_time,
     end_time: @event.end_time,
     description: @event.description,
     address: @event.address,
     capacity: @event.capacity,
     tags: @event.tags,
     photos: @event.photos
   }), class: "btn btn-primary" %>
   <% end %>
   <%= link_to 'Back', events_path %>
   <!-- The map will be drawn in this div -->
<div id="map" style="width: 100%; height: 600px;"></div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
