<p id="notice"><%= notice %></p>

<div>
  <h2><%= @event.name %>| Going?: <%= @event.participants.include?(current_user) ? "YES" : "NO" %></h2>
  <h3><%= @event.organization %></h3>
</div>

<h3>Spots left:</h3>
<% if @spots_left == 0 %>
  <h4>"This event is full!"</h4>
<% elsif @spots_left > 5 %>
  <h4><%= @spots_left %></h4>
  <% else %>
  <h4>Only <%= @spots_left %> spots left! Join before it's too late!</h4>
<% end %>

<h5>Invite a friend!</h5>

<% @event.participants.last(2).each do |person| %>
  <%= person.first_name %> <%= image_tag 'arnold.jpg', class: "avatar" %>
<% end %>
and <%= @event.capacity - 5 %> more are going! Join them!

<p>
  <strong>Location:</strong> <%= @event.address %>
</p>

<p>
  <strong>Organized By:</strong>
  <%= @organizer_name %> <%= link_to "View Profile", @event.organizer %>
</p>

<p> Last updated: <%= @event.updated_at.to_s %> </p>

<p>
  <strong>Tags:</strong>
  <%= @event.tags.join(', ') %>
</p>

<p>
  <strong>Begins:</strong> <%= @event.start_time %>
</p>

<p>
  <strong>Ends:</strong> <%= @event.end_time %>
</p>

<p>
  <strong>Description:</strong> <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |

<br>
<% if @event.participants.include? current_user %>
  <% @registration = current_user.registrations.find_by(event_id: @event.id) %>
  <%= link_to 'Unregister', event_registration_path(@event, @registration), method: :delete %>
<% else %>
  <%= link_to 'Register', event_registrations_path(@event), method: :post %>
<% end %>

<!-- NEED TO TEST AFTER AUTHORIZATION IMPLEMENTED -->
<% if @event.organizer == current_user %>
  <%= link_to "Copy This Event!", new_event_url({name: @event.name,
       organization: @event.organization,
       start_time: @event.start_time,
       end_time: @event.end_time,
       description: @event.description,
       address: @event.address,
       capacity: @event.capacity,
       tags: @event.tags,
       photos: @event.photos
       }), class: "btn btn-primary" %>
<% end %>


<%= link_to 'Back', events_path %>


<!-- The map will be drawn in this div -->
<div id="map"></div>
<!-- Include Google Maps JS library. You should use your *own* key -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>

<!-- Include Dependencies of GMaps for Rails gem -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
<script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>
<script src="https://cdn.rawgit.com/apneadiving/Google-Maps-for-Rails/master/js_compilation/gmaps_google.js"></script>

<br>
<% if @event.participants.include? current_user %>
 <% @registration = current_user.registrations.find_by(event_id: @event.id) %>
 <%= link_to 'Unregister', event_registration_path(@event, @registration), method: :delete %>
<% else %>
 <%= link_to 'Register', event_registrations_path(@event), method: :post %>
<% end %>

<script type="text/javascript">
  $(document).on('ready', function() {
    var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers([
      {
        "lat": @event.latitude,
        "lng": @event.longitude
        // "infowindow": "<h1>São Paulo</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/015/thumbnail/12280389883_aecfecfc0e_h.jpg?1458582747' height='200'></p>"
      }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  })
</script>


