<!-- <p id="notice"><%= notice %></p> -->
<head>
#     <meta charset="UTF-8">
#     <title>Google Maps Markers - Static Example</title>
#     <style type="text/css">
#       body { margin: 0; }
#       #map {
#         display: flex;
#         height: 100vh;
#         width: 100%;
#       }
#     </style>
#   </head>

<div>
  <!-- 1. Name event -->
  <h2><%= @event.name %></h2>

  <!-- 2. Who's coming -->



  <!-- If organizer -->


  <% if @event.organizer == current_user %>

    <!-- 1. IF PAST EVENT  -->

    <% if event.end_time < DateTime.now %>

    <h3>Who went?</h3>
      <div class="participants">
    <% @event.participants.each do |person| %>
      <%= person.first_name %>
      <br>
      <!-- TODO : Replace fake avatar by real avatar -->
      <%= link_to image_tag('arnold', class: "avatar"), user_path(person) %>
    <% end %>

    <%= link_to event_users_path(event) do %>
    <h3>Review participants' attendance</h3>
  <!-- TODO : Implement a way to send group email -->



  <!-- 1. IF FUTURE EVENT  -->

  <% else %>

    <h3>Who's coming?</h3>
    <% @event.participants.each do |person| %>
      <%= person.first_name %>
      <br>
      <%= link_to image_tag('arnold.jpg', class: "avatar"), user_path(person) %>
    <% end %>
    <h3>Send them a email</h3>
    <!-- TODO : Implement a way to send group email -->


  <% end %>





  <% else %> <!-- If participant :  -->


  <!-- 1. IF PAST EVENT  -->

    <% if event.end_time < DateTime.now %>

      <h3>Who went?</h3>
      <div class="participants">
        <% @event.participants.each do |person| %>
          <%= person.first_name %>
          <br>
      <!-- TODO : Replace fake avatar by real avatar -->
          <%= link_to image_tag('arnold', class: "avatar"), user_path(person) %>
        <% end %>

  <!-- 1. IF FUTURE EVENT  -->

  <% else %>


    <h3>Who's coming?</h3>

    <% @event.participants.last(2).each do |person| %>
      <%= person.first_name %>
      <br>
      <%= link_to image_tag('arnold.jpg', class: "avatar"), user_path(person) %>
    <% end %>

  and <%= @event.capacity - 5 %> more are going! Join them!


<!--   <h3>Spots left:</h3> -->
  <% if @spots_left == 0 %>
  <h4>"This event is full!"</h4>
  <% elsif @spots_left > 5 %>
<!--   <h4><%= @spots_left %></h4> -->
  <h4>Only <%= @spots_left %> spots left! Join before it's too late!</h4>
  <h5>Invite a friend!</h5>
<!-- TODO : implement FB connect / route to sign in form if not sign in  -->
  <% end %>




  <% end %>

  <!-- 3. date/place/organizedby -->


  <p>
    <strong>Location:</strong> <%= @event.address %>
  </p>

  <p>
    <strong>Organized By:</strong>
    <%= @organizer_name %> <%= link_to "View Profile", @event.organizer %>
  </p>

  <p>
    <strong>Begins:</strong> <%= @event.start_time %>
  </p>

  <p>
    <strong>Ends:</strong> <%= @event.end_time %>
  </p>

  <!-- 4. description  -->

<!-- The map will be drawn in this div -->

  <h3><%= @event.organization %></h3>
</div>

<p>
  <strong>Tags:</strong>
  <%= @event.tags.join(', ') %>
</p>



<p>
  <strong>Description:</strong> <%= @event.description %>
</p>


<br>

<!-- MAP PORTION OF PAGE -->

      <div class="col-sm-4">
        <div class="map-float"><!--start map -->
          <div id="map">
          </div>
        </div><!--end map -->
      </div>

<div class='footer' id="notice">

  <% if @event.participants.include? current_user %>
<% @registration = current_user.registrations.find_by(event_id: @event.id) %>
Yay! You're going!
<%= link_to "Can't go anymore?", event_registration_path(@event, @registration), method: :delete, data: { confirm: 'Are you sure ?' + @organizer_name + ' will miss you :(' } %>
<% elsif @event.organizer == current_user %>
<%= link_to 'Cancel event?', event_path(@event), method: :delete %>
<%= link_to 'Edit', edit_event_path(@event) %>
<% else  %>
<%= link_to 'Are you going?', event_registrations_path(@event), method: :post %>
<% end %>

</div>





<!-- NEED TO TEST AFTER AUTHORIZATION IMPLEMENTED -->
<% if @event.organizer == current_user %>
<%= link_to "Copy This Event!", new_event_url({name: @event.name,
 organization: @event.organization,
 start_time: @event.start_time,
 end_time: @event.end_time,
 description: @event.description,
 address: @event.address,
 capacity: @event.capacity,
 tags: @event.tags,
 photos: @event.photos
}), class: "btn btn-primary" %>
<% end %>


<%= link_to 'Back', events_path %>




<!-- The map will be drawn in this div -->
<div id="map"></div>
<!-- Include Google Maps JS library. You should use your *own* key -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAuR9xHZcoRnTgQfFzsuXRCzGSsW4bG7Pw"></script>

<!-- Include Dependencies of GMaps for Rails gem -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
<script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>
<script src="https://cdn.rawgit.com/apneadiving/Google-Maps-for-Rails/master/js_compilation/gmaps_google.js"></script>



<script type="text/javascript">
  $(document).on('ready', function() {
    var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers([
      {
        "lat": <%= @event.latitude %>,
        "lng": <%= @event.longitude %>
        // "infowindow": "<h1>São Paulo</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/015/thumbnail/12280389883_aecfecfc0e_h.jpg?1458582747' height='200'></p>"
      }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  })
</script>


