<div class="row">
  <div class="col-xs-12">
    <div class="event-show-card">
      <h2> <%= @event.name %> </h2>

      <!-- Time of event -->

      <% if @event_is_past %>
        <h3> When was it? </h3>
      <% else %>
        <h3> When is it? </h3>
      <% end %>
      <p>
        <strong>Begins:</strong> <%= @event.start_time.strftime('%d/%m/%Y') %> <%= @event.start_time.strftime("at %I:%M%p") %>
      </p>
      <p>
        <strong>Ends:</strong> <%= @event.end_time.strftime('%d/%m/%Y') %> <%= @event.end_time.strftime("at %I:%M%p") %>
      </p>

      <!-- Who goes to the event -->

      <% if @event_is_past %>
        <h3> Who went? </h3>
      <% else %>
        <h3> Who is coming? </h3>
      <% end %>
      <div class="participants">
        <% @participants.each do |par| %>
          <div class="participant">
          <% if par.photo %>
            <%= link_to user_path(par) do %>
              <%= cl_image_tag par.photo.path, crop: :fill, class: "participant-img" %>
            <% end %>
          <% else %>
            <%= link_to user_path(par) do %>
              <%= image_tag("no-img.png", class: "participant-img") %>
            <% end %>
          <% end %>
          <p> <%= par.first_name %> </p>
          </div>
        <% end %>
      </div>

      <!-- Spots left in the event -->

      <div class="spots-left">
        <p>
        Only <%= @spots_left %> spots are left!
        <% if @participants.include? current_user %>
          <% @registration = current_user.registrations.find_by(event_id: @event.id) %>
          <%= link_to "Can't go anymore?", event_registration_path(@event, @registration), method: :delete %>
        <% else %>
          <%= link_to "Join now", event_registrations_path(@event), method: :post %>
        <% end %>
        </p>
        <p>
        <%= link_to "Invite a friend", '' %>
        </p>
      </div>

      <h3> Event details </h3>

      <!-- Event organized by -->

      <p>
        <strong>Organized By:</strong>
        <%= link_to "#{@event.organizer.first_name}", @event.organizer %>
      </p>

      <!-- Event description -->

      <p>
        <strong>Description:</strong> <%= @event.description %>
      </p>

      <!-- Event location and tags -->

      <p>
        <strong>Location:</strong> <%= @event.address %>
      </p>

      <p>
      <strong>Tags:</strong>
      <%= @event.tags.join(', ') %>
      </p>

    <br>
    <br>

    <div class="fb-share-button" data-href="<%= event_url %>" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="">Share</a></div>

    <br>


      <%= link_to "Copy This Event!", new_event_path({name: @event.name,
       organization: @event.organization,
       start_time: @event.start_time,
       end_time: @event.end_time,
       description: @event.description,
       address: @event.address,
       capacity: @event.capacity,
       tags: @event.tags,
       photos: @event.photos
     }), class: "btn btn-primary copy-event" %>


    <!-- MAP PORTION OF PAGE -->
    <!-- The map will be drawn in this div -->
    <div id="map" style="width: 100% !important; height: 300px; margin: 50px 0px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

    <div class='footer' id="notice">
      <% if @event.participants.include? current_user %>
      <% @registration = current_user.registrations.find_by(event_id: @event.id) %>
      Yay! You're going!
      <%= link_to "Can't go anymore?", event_registration_path(@event, @registration), method: :delete %>
      <% elsif @event.organizer == current_user %>
      <%= link_to 'Cancel event?', event_path(@event), method: :delete %>
      <%= link_to 'Edit', cool_form_edit_path(@event.id, 1) %>
      <% else  %>
      <%= link_to 'Are you going?', event_registrations_path(@event), method: :post %>
      <% end %>
    </div>

    </div>
  </div>
</div>



