<div class="homepage-hero-module">

  <div class="video-container">
        <div class="filter"></div>
<!--         <video autoplay loop class="fillWidth">
            <source src="/videos/Everest/MP4/Everest.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/videos/Everest/WEBM/Everest.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video> -->
        <video poster="img/yourposterimage.jpg" id="bgvid" playsinline autoplay muted loop>
<source src="https://player.vimeo.com/external/147585012.hd.mp4?s=1726e3b9f04d4351927b118333bc58008aeb2af7&profile_id=113" type="video/mp4"></video>
        <div class="poster hidden">
        <img src="/videos/Everest/Snapshots/Everest.jpg" alt="">
        </div>
  </div>






<!-- IF PUSHED BUTTON CREATE EVENT :  -->



<div class="container homepage homepage-hero-module">

  <div class="row">
    <div class="col-xs-12">
        <div class="arrow">
            <%= link_to root_path do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <% end %>
        </div>

      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">

          <div class="homepage-content">
            <div class="banner-content">
              <%= image_tag("Logo_green.png", class: 'logo-home') %>

              <h3 class="fat-title">
                The time to help is now
                </h3>



<div class = "form-inline search-form">
                <%= simple_form_for @event, url: cool_form_path(1), html: { class: 'form-inline'}, method: :get do |f| %>

                <div class="icon-compass">
                <i class="fa fa-compass my-compass" aria-hidden="true"></i>

                <%= f.input :address, placeholder: 'Your city', label: false, input_html: {class: 'city home-margin-bottom', value: cookies[:address]} %>



                <%= f.button :submit, value: "Create!", class: "btn create btn-block signin", data: {disable_with: "Creating..."} %>
                </div>
                <% end %>





            </div>
            </div>

            <div class="col-xs-12 more_options">

            <%= link_to "More options", home_search_path, class: "" %>
            </div>


            <div class="create-login form-inline">
                <%= link_to "Log-in / Sign up", login_signup_path, class: 'login' %>

            </div>



        </div>
      </div>
    </div>
  </div>
</div>










</div>





