<div class="homepage-hero-module">

  <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/videos/Everest/MP4/Everest.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/videos/Everest/WEBM/Everest.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
        <img src="/videos/Everest/Snapshots/Everest.jpg" alt="">
        </div>
    </div>

<div class="container homepage homepage-hero-module">

  <div class="row">
    <div class="col-xs-12">
      <div class="homepage-content">
        <div class="banner-content">
          <%= image_tag("volunteasy-logo.png", class: 'logo-home') %>
          <h3 class="text-center">Make a difference in your community</h3>
          <div class = "form-inline search-form">
            <%= simple_form_for @event, url: search_path, html: { class: 'form-inline'}, method: :get do |f| %>

            <%= f.input :address, placeholder: "Location...", label: false, input_html: {class: 'input-lg', value: cookies[:address]} %>

            <%= f.button :submit, value: "Go!", class: "btn-lg btn-block" %>

            <% end %>
          </div>
        </div>
        <div class="create-login">
          <div class="text-center">
            <%= link_to "Or create your own !", new_event_path %>
          </div>
          <div class="text-center">
            <%= link_to "Already a member? Log-in", user_session_path %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>





