<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="<%= "#{params[:controller]}-#{params[:action]}".gsub('/', '-') %>">

    <!-- Facebook Sharing for All Pages -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Navbar -->
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


<!-- Condition added : no padding for HP / Sign.in and Sign.up pages :  -->

  <% if params[:action] == "home" %>
    <div>
    <div class="container-hp">
    <%= yield %>
    </div>
  <% elsif params[:action] == "login_signup" %>
    <div class="container-hp">
    <%= yield %>
    </div>
    <div>
  <% elsif params[:action] == "home_search" %>
    <div class="container-hp">
    <%= yield %>
    </div>
  <div>
  <% elsif params[:action] == "home_create" %>
    <div class="container-hp">
    <%= yield %>
    </div>
  <div>
  <% else %>
    <div style="margin-top: 116px">
    <div class="container">
    <%= yield %>
    </div>
  <% end %>


    </div>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= javascript_include_tag "application" %>

    <%= yield(:after_js) %>

    <%= cloudinary_js_config %>

  </body>
</html>
